*
!views/
!views/admin.pug
!.gitignore
!run.bat
!views/login.pug
!main.js
!install.bat
!instructions
!package.json
!waitingroom/
!waitingroom/404.html
!waitingroom/AAA.jpg
!waitingroom/index.js
!waitingroom/login.js
!waitingroom/submitted.html
!waitingroom/waitingroom.css
!waitingroom/waitingroom.html
!waitingroom/*
!waitingroom/views/
!waitingroom/views/404.pug
!waitingroom/views/submitted.pug
!waitingroom/views/waitingroom.pug
!waitingroom/views/*
!people_data/
!credentials/
!credentials/*
