doctype html
html(lang="en")
    head
        title= "Allergy Asthma Associates"
        link(rel='stylesheet', href='waitingroom.css')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    body
        div(class="banner")
            div(class="left-section")
                img(class="logo" src="AAA.jpg")
            div(class="right-section")
                div(class="top-right")
                    p(class="welcome") Welcome to Allergy Asthma Associates
                div(class="bottom-right")
                    p(class="physician") Nathan Tang, MD, FAAAAI

        div(class="main")
            p="Patients Checked-In:"
            ol(id="patients")

        script(src="index.js")




