doctype html
html(lang="en")
    head
        title= "Allergy Asthma Associates"
        link(rel='stylesheet', href='waitingroom.css')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous")
    body
        div(class="banner")
            div(class="left-section")
                img(class="logo" src="AAA.jpg")
            div(class="right-section")
                div(class="top-right")
                    p(class="welcome") Welcome to Allergy Asthma Associates
                div(class="bottom-right")
                    p(class="physician") Nathan Tang, MD, FAAAAI
        if authenticated
            script="window.location.replace('/admin')"
        if wrong_password
            p="wrong password fool"
        p="enter the admin password"
        form(action="/login", method="POST" id="login")
            input(class="namebox" placeholder="password" id="password" name="password")
            input(type="submit")



